.form {
  padding: 0;
  margin: 0;
  border: 0;
  width: 358px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* ! */ 
  background-color: #fff ;
  height: 259px;
  }
@media screen and (max-width: 600px) {
  .form {
    width: 238px;
    height: 272px;
  }
}