.popup__container {
  min-width: 430px;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  display: flex;
  justify-content: center;
  padding: 34px 0 37px;
  position: relative;
  box-sizing: border-box;
  border-radius: 9px;
}
@media screen and (max-width: 600px) {
  .popup__container {
    padding: 25px 0;
    min-width: 282px;
  }
}
