.form__item {
  border: 0;
  width: 100%;
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: inherit;
  padding: 0 0 11px 0;
  box-sizing: border-box;
  outline: none;
}


