.header {
  box-sizing: border-box;
  max-width: 880px;
  width: 100%;
  display: flex;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid;
  border-color: rgba(84, 84, 84, 0.7);
}
@media screen and (max-width: 950px) {
  .header {
    padding: 0 0 31.6px 27px;
    padding-bottom: 31.6px;
    margin-bottom: 42px;
  }
}
