.header {
  box-sizing: border-box;
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 40px;
  padding-bottom: 39px;
  border-bottom: 1px solid;
  border-color: rgba(84, 84, 84, 0.7);
}
@media screen and (max-width: 950px) {
  .header {
    padding-left: 27px;
  }
}
